.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin: 15px 15px;
}
button {
  border-radius: 5px;
  border-color: black;
  /*   border: none; */
  background: #5c48d3;
  color: white;
}
